@tailwind base;
@tailwind components;
@tailwind utilities;

.plus-jakarta-sans-header {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  /* font-size: xx-large; */
}

.plus-jakarta-sans-smallheader {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
  }


.plus-jakarta-sans-normalFont {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

